<div class="code">

  <a class="box" target="_blank" href="https://github.com/jenhalv/Trivia-App">
  <img class="icon" alt="GitHub logo" src="https://firebasestorage.googleapis.com/v0/b/jen-s-pictures.appspot.com/o/Logo%20Icons%20-%20experience%2Fgit.png?alt=media&token=1991638f-3019-44fd-988e-72760a454844"/>
  <h3>Source Code:<br><u>Trivia-App</u></h3></a>

</div>

<div class="section">

  <p>I started coding in 2019 and love the organization of Angular! I have particpated in several <a target="_blank" href="https://twitter.com/AngularGirls">@AngularGirls</a> conferences and was a mentor for the first time for <a target="_blank" href="https://workshops.ng-girls.org/ngconf-2021/">ngConf 2021</a>!  When I am not coding, I am working on the farm, photographing my <a target="_blank" href="https://tour-of-backyard-birds.web.app/home">backyard birds</a>, cooking in the kitchen, or spending time with family.
  <br>
  Let's Connect!
    <base target="_blank"/>
      <a href="mailto:jenhalv06@gmail.com" class="fa fa-envelope" aria-hidden="true" alt="envelope"></a>
      <a href="https://twitter.com/jennlynnhalv" class="fa fa-twitter" aria-hidden="true" alt="twitter"></a>
      <a href="https://www.linkedin.com/in/jennifer-halvorson-portfolio2020" class="fa fa-linkedin" aria-hidden="true" alt="linkedin"></a>
  </p>

  <img class="bitmoji" alt="Jennifer Bitmoji Birdwatching" src="https://firebasestorage.googleapis.com/v0/b/jen-s-pictures.appspot.com/o/BITMOJI%2Fjen_birdwatching1.png?alt=media&token=7a290d21-91b1-460c-8143-545370997a85"/>

</div>
