.section {
  margin: 50px auto -4px;
  text-align: right;
  max-width: 1000px;
}

p {
  text-align: left;
}

a {
  color: black;
}

a:hover {
  color: #c3002f;
}

.fa {
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.fa:hover {
  color: #c3002f;
}

img {
  width: 130px;
  margin: auto;
}

@media only screen and (max-width: 575px) {
p {
margin-bottom: -45px;
}
}
