div {
  text-align: center;
  margin: auto;
}

  p {
  color: #484e78;
  text-align: left;
}

img {
  width: 210px;
  float: right;
}

.results {
  margin-top: 4rem;
  text-align: center;
  font-size: 1.5rem;
  color: #484e78;
  display: block;
}

.score {
  margin: 2rem 0;
  font-size: 3rem;
  font-weight: 600;
  color: #ba99c0;
}
