div {
  margin: 2rem auto;
  max-width: 1000px;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

section {
  margin: auto;
}
p {
  font-size: 3rem;
  line-height: 60px;
  color: #484e78;
  margin: auto;
  font-family: 'Dela Gothic One', cursive;
}

img {
  width: 210px;
  float: right;
}
