<div>

  <section>
    <p>Coding & Cocktails<br>TRIVIA</p>
  </section>

  <img src="assets/Jen-trivia.png">

  <br>
  <br>
  <br>
  <br>
  <hr>
  <br>
  <br>

<section style="display: flex; margin: 75px auto; max-width: 700px;">
  <a target="_blank" href="https://kcwomenintech.org/"><img src="https://codingandcocktails.kcwomenintech.org/assets/images/logos/logo.png" style="width: 120px;"/></a>
  <p style="font-size: 22px; line-height: 22px; font-weight: 100; text-align: left;">This Angular app is being built as part of a four-part series sponsored by Kansas City Women in Technology's Coding & Cocktails!  We meet once a month for four months (we've met up twice so far) to learn Angular and create a fun app.</p>
</section>

</div>
