p {
  line-height: 20px;
  margin: auto;
}

a {
  color: black;
}
  a:hover {
  color: #484e78;
}

.fa {
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.fa:hover {
  color: #c3002f;
}

img {
  width: 130px;
  margin: auto;
}