div {
  margin: 45px auto 70px;
}

h3 {
  margin: 40px auto 10px;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 560px;
}

li {
  transition: all 0.5s ease;
  padding: 5px;
  margin: auto;
}

button {
  font: inherit;
  font-weight: 600;
  color: white;
  background: #492771;
  padding: 1rem 2rem;
  margin: 4px 2px;
  border-radius: 0.25rem;
  cursor: pointer;
  transition-duration: 0.4s;
  width: 265px;
  height: 70px;
}

.answer {
  background: white;
  color: #492771;
  border: 2px solid #492771;
  letter-spacing: 1px;
  font-size: 19px;
  font-family: "Raleway", sans-serif;
}

.answer:hover {
  color: white;
  background: #ffc744;
  border: 2px solid #ffc744;
  box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 1px rgba(0, 0, 0, 0.14), 0px 2px 6px 1px rgba(0, 0, 0, 0.12);
}

@media only screen and (max-width: 275px) {
  button {
    width: 200px;;
  }
}
