div {
  max-width: 500px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li + li {
  margin: 1rem 0;
}

li {
  transition: all 0.5s ease;
}

button {
  font: inherit;
  font-weight: 600;
  color: white;
  background: #a00037;
  padding: 1rem 2rem;
  margin: 4px 2px;
  border-radius: 0.25rem;
  cursor: pointer;
  transition-duration: 0.4s;
  width: 265px;
}

.answer {
  background: white;
  color: #a00037;
  border: 2px solid #a00037;;
}

.answer:hover {
  color: white;
  background: #a00037;;
}
