img {
  width: 120px;
}

.circle {
  // margin: -45px auto 0px 15px;
  width: 210px;
  height: 210px;
  border-radius: 100%;
  box-shadow: inset 20px -15px 0px 20px #492771;
  position: absolute;
  left: 10%;
}

.label {
  font-family: "Roboto Mono", monospace;
  font-size: 100px;
  letter-spacing: -20px;
  text-align: left;
  margin: 100px 50px;
  line-height: 65px;
  position: absolute;
  position: relative;
  left: 20px;
}

ul li:before {
  content: '✓';
  color: #492771;
  font-weight: bold;
  font-size: xx-large;
  padding-right: 5px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  text-align: left;
  float: right;
  list-style: none;
  padding: 20px 15px;
  font-family: "Raleway", sans-serif;
}

li {
  padding: 5px;
  line-height: 23px;
  font-weight: 600;
}

