.section {
  position: relative;
    max-width: 1000px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

img {
  width: 120px;
}

.circle {
  width: 210px;
  height: 210px;
  border-radius: 100%;
  box-shadow: inset 20px -15px 0px 20px #492771;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  opacity: .5;
}

.label {
  font-family: "Roboto Mono", monospace;
  font-size: 100px;
  letter-spacing: -20px;
  text-align: left;
  position: absolute;
  left: 5%;
  bottom: 98%;
  opacity: .5;
}

ul li:before {
  content: '✓';
  color: #492771;
  font-weight: bold;
  font-size: xx-large;
  padding-right: 5px;
}

ul {
  text-align: left;
  list-style: none;
  padding: 20px 15px;
  font-family: "Raleway", sans-serif;
  z-index: 1000;
}

li {
  padding: 5px;
  line-height: 23px;
  font-weight: 600;
}

@media only screen and (max-width: 1000px) {
  .circle {
    left: 12%;
  }

  }


@media only screen and (max-width: 575px) {
.circle {
  left: 25%;
  top: -4%;
}

.label {
  top: -9%;
}

ul {
  margin: 50px auto;
}
}
