<div class="section">

  <div class="circle"></div>
  <div class="label">info</div>

  <ul>
    <li>Following a <a target="_blank" href="https://kcwomenintech.org/">Kansas City Women in Technology's Coding & Cocktails</a> tutorial, I created a  SPA  (Single Page Application) using Angular CLI to scaffold, generate new components, build code, and serve the application.</li>

    <li>This tutorial required basic knowledge of HTML, CSS, JavaScript, CLI commands, Git and developing web applications using node, npm, and an IDE (I used Microsoft Visual Studio Code).</li>

    <li>This tutorial explained how to create components, use component data communication patterns to help keep the app modular, add routing, interactive elements and dynamic content, use data binding, and load trivia questions from an API.</li>
  </ul>

</div>
