// background-color: #492771;
// color: #1bd893;

@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kaushan+Script&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

@include mat-core();

$trivia-primary: mat-palette($mat-indigo);
$trivia-accent: mat-palette($mat-pink, A200, A100, A400);
$trivia-warn: mat-palette($mat-red);
$trivia-theme: mat-light-theme((
  color: (
    primary: $trivia-primary,
    accent: $trivia-accent,
    warn: $trivia-warn,
  )
));

@include angular-material-theme($trivia-theme);

a {
  color: black;
}

a:hover {
  color: #c3002f;
}

html, body {
  height: 100%;
  font-family: 'Dela Gothic One', cursive;
}

body {
  margin: 0;
  position: relative;
  width: 100%;
}

header,
footer {
  background: linear-gradient(to right, #3204fdba, #492771);
  color: #ffed64;
  height: 45px;
}

footer {
  padding: 1rem;
  font-family: 'Kaushan Script', cursive;
  font-size: 18px;
  text-align: center;
  height: fit-content;
  z-index: 1000;
}

.fa {
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.fa:hover {
  color: #c3002f;
}

.mat-h1, .mat-headline, .mat-typography h1 {
  font-family: "Dela Gothic One", cursive;
  margin: auto;
  font-size: 45px;
  padding: 15px;
}

.mat-h2, .mat-title, .mat-typography h2 {
  font: 500 20px/32px "Dela Gothic One", cursive;
}

.mat-h3, .mat-subheading-2, .mat-typography h3 {
  font: 100 19px/30px "Dela Gothic One", cursive;
  letter-spacing: 1px;
  margin: 20px auto;
  padding: 5px 10px;
}

hr {
  margin: 30px;
  border: #492771 5px solid;
 }

main {
  flex-grow: 1;
  margin: auto;
  text-align: center;
  width: 100%;
  position: absolute;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  padding: 5px 10px;
}

.mat-body p, .mat-body-1 p, .mat-typography p {
  margin: auto;
}

.section {
  display: flex;
  margin: 100px auto;
  max-width: 700px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 20px;
}

@media only screen and (max-width: 575px) {
  .section {
    display: block;
  }
}
